.home-header {
  margin: auto;
  height: 100px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #fff;
  animation: textwriter 4s steps(60) 1s 1 normal both,
    blinkCursor 500ms steps(40) infinite normal both;
}
@keyframes textwriter {
  0% {
    width: 0%;
  }
  100% {
    width: 27rem;
  }
}
@keyframes blinkCursor {
  0% {
    border-right-color: #2a6cd2;
  }
  100% {
    border-right-color: transparent;
  }
}

/* image section */

.home-imgsection {
  display: flex;
  justify-content: space-evenly;
  margin-block: 10px;
}
.home-imgsection .image {
  border-radius: 10px;
  display: inline-block;
  width: 300px;
  height: 300px;
  opacity: 0;
  animation: showHide 4s linear 1s 1 normal both;
}

@keyframes showHide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.home-imgrightsection {
  color: #fff;
  margin-block: 10px;
}

.home-imgrightsection p {
  font-size: 24px;
  margin-block: 10px;
}
.home-imgrightsection h1 {
  font-style: italic;
  margin-block: 10px;
}

.home-imgrightsection h5 {
  font-size: 15px;
}
