* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button:hover {
  color: #fff;
  background-color: #444;
}
.nav-home {
  background-color: #2010aa;
}
.nav-home li {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  background-color: #bcd;
  border-radius: 8px;
}

.active {
  text-decoration: underline;
  color: rgb(71, 109, 214);
}

.footer li {
  list-style: none;
}
