* {
  margin: 0;
  padding: 0;
}

.nav-home li {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  background-color: #bcd;
  border-radius: 8px;
}

.active {
  text-decoration: none;
  color: rgb(71, 109, 214);
}

.footer li {
  list-style: none;
}
