.calcBtn {
  width: 30%;
  margin: 10px 100px;
  background-image: linear-gradient(
    to top,
    rgb(125, 134, 139),
    rgb(195, 207, 212)
  );
  text-align: center;
  border-radius: 10px;
}
.calcBtn input {
  padding: 10px 20px;
}

.calcBtn button {
  padding: 20px;
  margin: 6px;
  width: 100px;
  display: inline-block;
  border-radius: 20%;
  box-shadow: 1px 2px 4px;
  border: none;
}
